<div class="p-4 h-100 bg-secondary">

  <div id="newDiaryErrorAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong id="newDiaryError"></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div id="newDiarySuccessAlert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong id="newDiarySuccess"></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <h3 class="text-light">Title</h3>
  <input id="diaryTitle" class="text-light w-100 bg-dark-grey border-0 rounded p-3 m-0 mb-4" placeholder="Enter diary title..." type="text" name="" value="">
  <h3 class="text-light">Diary</h3>
  <textarea id="diaryContent" placeholder="Enter diary content..." class="text-light w-100 bg-dark-grey border-0 rounded p-3 m-0 overflow-auto" contenteditable=""></textarea>
  <button id="createButton" (click)="createDiary()" class="col-lg-2 col-md-3 col-sm-12 float-right btn btn-success mt-3" type="button" name="button">create</button>

</div>
