<div class="bg-dark container-fluid vh-100">
  <div class="row">
    <h1 class="w-100 text-center my-5 text-light">Password Recovery</h1>
  </div>

  <div class="row px-2">
    <div class="bg-light mx-auto col-sm-10 col-md-8 col-lg-5 col-lg-2 align-middle p-4 rounded">

      <div class="form-group">
        <input (change)="updatePassword1($event)" id="password1" type="password" name="password" class="form-control" placeholder="Password...">
      </div>

      <div class="form-group">
        <input (change)="updatePassword2($event)" id="password2" type="password" class="form-control"  placeholder="Confirm Password...">
      </div>

      <button (click)="submit()" class="btn btn-success w-100 mt-4">Change Password</button>

    </div>
  </div>
</div>
